body {
}
#root {
  max-width: 1280px;
  margin: 0 auto;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.btn button{
  width: 50px;
  background-color: #61dafbaa;
}
.setBtn {
  width: 100%;
  background-color: #646cffaa;
}
